:root{
    --main-color-white: #979d00;
    --main-color-moins: #fd8880;
    --main-color: #f44336;
    --main-color-trans: rgba(244, 67, 54, 0.7);
    --main-color-plus: #f81d0e;
    --main-color-plus-plus: #d20f01;
    --main-color-blue: #17193f;
    --main-color-blues: #000226;
    --main-danger: rgb(255, 0, 60);
    --main-success: rgb(0, 68, 45);
    --dark: #0a1026;
    --main-color-white: #f8eeed;
    --main-gradient: linear-gradient(var(--main-color), var(--main-color-white), var(--main-color));
}